@media (max-width: 1200px) {

}
@media (max-width: 991px){
	.container {
		min-width: 700px;
	}
	.promo {
		padding-bottom: 73px;
		&__wrapper {
			margin-top: 80px;
		}
		&__header {
			font-size: 36px;
		}
		&__subheader {
			font-size: 21px;
		}
		&__icons{
			margin-top: 50px;
			max-width: 380px;
		}
	}
	.consultation {
		padding: 80px 25px 72px 25px;
	}
	.catalog {
		&__tab {
			width: 200px;
			font-size: 16px;
		}
		&__content {
			justify-content: space-evenly;
			}
			&-item {
				margin-right: 20px;
		}
	}
	.footer {
		&__addr {
			font-size: 17px;
		}
		iframe {
			width: 100%;
		}
	}
}

@media (max-width: 768px){
	.container{
		min-width: 530px;
		padding: 0px 10px;
	}
	.header {
		&__logo {
			max-width: 200px;
		}
		&__official {
		font-size: 11px;
		span {
			font-size: 16px;
		}
		}
		&__phone {
			font-size: 16px;
		}
		button {
			height: 25px;
			width: 130px;
		}
	}
	.promo {
		min-height: 600px;
		padding: 20px 10px 70px 10px;
		&__wrapper {
			margin-top: 70px;
		}
		&__header {
			font-size: 30px;
		}
		&__subheader {
			font-size: 19px;
		}
		&__icons{
			margin-top: 50px;
			max-width: 380px;
		}
		&__icon {
			font-size: 12px;
			img {
				margin-bottom: 15px;
			}
		}
		&__link {
			font-size: 14px;
		}
	}
	.advantages {
		padding: 60px 0 70px 0;
		&__wrapper {
			min-width: 500px;
			margin-top: 55px;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__subtitle {
			font-size: 16px;
			margin-top: 30px;
		}
		&__descr {
			font-size: 12px;
			margin-top: 20px;
		}
	}	
	.consultation {
		padding: 80px 25px 72px 25px;
	}

	.carousel{
		padding: 60px 20px 20px 20px;
		&__inner {
			width: 100%;
		}
		img { 
			width: 100%;
		}
	}
	.catalog {
		&__contect {
			padding: 0 15px;
		}
		&__tabs {
			margin-top: 50px;
			padding: 0 10px;
		}
	}
	.feed {
		&__item {
			margin-top: 50px;
		}
		&__img {
			width: 50%;
			height: 50%;
			margin-right: 40px;
		}
		&__text {
			padding:0 10px ;
			max-width: 580px;
			}
		&__descr {
			font-size: 14px;
			line-height: 22px;
		}
	}
}

@media (max-width: 575px) {
	.container {
		min-width: 280px;
	}
	.header {
		&__hidden320 {
			display: none;
		}
		&__logo {
			max-width: 200px;
			margin-right: 20px;
		}
		&__phone {
			font-size: 14px;
		}
	}
	.promo {
		min-height: 400px;
		padding-bottom: 50px;
		&__wrapper{
			align-items: center;
		}
		&__header {
			font-size: 20px;
			line-height: 20px;
			text-align: center;
		}
		&__subheader {
			font-size: 14px;
			text-align: center;
		}
		&__icons{
			margin-top: 30px;
			max-width: 300px;
		}
		&__icon {
			min-width: 50px;
			img {
				margin-bottom: 10px;
			}
		}
		&__link {
			font-size: 12px;
		}
	}
	.advantages {
		padding: 40px 0 50px 0;
		&__wrapper {
			min-width: 300px;
			flex-wrap: wrap;
			margin-top: 45px;
			justify-content: center;
		}
		&__item {
			max-width: 250px;
		}
		&__subtitle {
			font-size: 16px;
			margin-top: 25px;
		}
		&__descr {
			font-size: 14px;
			margin-top: 20px;
		}
	}
	.consultation {
		min-height: 580px;
		padding: 50px 0 30px 0;
		align-items: center;
		&__descr {
			font-size: 14px;
			line-height: 24px;
			text-align: center;
		}
	}
	.carousel {
		padding: 60px 20px 20px 20px;
		&__inner {
			width: 100%;
		}
		img{ 
			width: 100%;
		}
	}
	.catalog {
		padding-bottom: 70px;
		&__tabs {
			margin-top: 50px;
			padding: 0 10px;
		}
		&__tab {
			max-width: 130px;
			height: 40px;
			font-size: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__content {
			margin-top: 40px;
			justify-content: space-around;
		}
		&-item {
			margin-right: 0px;
			min-height: 200px;
			padding: 15px 20px 15px 20px;
			margin-bottom: 10px;
			&__img {
				height: 150px;
			}
			&__subtitle {
				margin-top: 15px;
				font-size: 14px;
			}
			hr {
				margin-top: 0px;
			}
			&__list {
				li {
					font-size: 12px;
					line-height: 16px;
					margin-top: 10px;
				}
			}
			hr {
				margin-top: 12px;
			}
		}
		&__hidden320 {
			display: none;
		}
	}
	.feed {
		padding: 0px 15px 50px 15px;
		&__item {
			margin-top: 30px;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__img {
			max-width: 170px;
			max-height: 170px;
			margin-right: 0;
		}
		&__text {
			padding: 0 10px 0 10px;
		}
		&__subtitle {
			margin-top: 15px;
		}
		&__descr {
			font-size: 12px;
			line-height: 22px;
			margin-top: 10px;
		}
	}
	.footer {
		&__info {
			height: 200px;
			padding: 15px;
		}
		&__addr {
			font-size: 16px;
			margin-bottom: 28px;
		}
		&__phone {
			font-size: 16px;
			margin-bottom: 28px;
		}
		&__social {
			width: 212px;
		}
		&__social-item {
			width: 40px;
			height: 40px;
		}
	}
}